@model SecurePhotoApp.Models.PhotoVM

@{
    ViewData["Title"] = "CreateProfile";
}

<h1>Upload Files to Blob Storage</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-controller="Photo" asp-action="UploadFile" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label for="myFiles" class="control-label" style="font-weight:bold">Select Files</label>
                <input asp-for="myFiles" type="file" class="form-control" multiple />
            </div>

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Upload Files</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
